USE [master]
GO
/****** Object:  Database [Aves]    Script Date: 5/7/2026 12:56:54 AM ******/
CREATE DATABASE [Aves]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aves', FILENAME = N'C:\Users\quewt\Aves.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aves_log', FILENAME = N'C:\Users\quewt\Aves_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aves].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aves]
GO
/****** Object:  Table [dbo].[rank]    Script Date: 5/7/2026 12:57:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rank](
	[ID] [int] NOT NULL,
	[name_] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[species_info]    Script Date: 5/7/2026 12:58:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[species_info](
	[taxonid] [int] NOT NULL,
	[commun_name] [varchar](100) NOT NULL,
	[description_] [varchar](200) NULL,
	[domesticated] [bit] NOT NULL,
	[conservation_status] [varchar](50) NULL,
	[geographic_location] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[taxonid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taxon]    Script Date: 5/7/2026 12:58:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taxon](
	[ID] [int] NOT NULL,
	[name_] [varchar](150) NULL,
	[rankid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[species_info] ADD  DEFAULT ((0)) FOR [domesticated]
GO
ALTER TABLE [dbo].[species_info]  WITH CHECK ADD  CONSTRAINT [FK_species_info_taxon] FOREIGN KEY([taxonid])
REFERENCES [dbo].[taxon] ([ID])
GO
ALTER TABLE [dbo].[species_info] CHECK CONSTRAINT [FK_species_info_taxon]
GO
ALTER TABLE [dbo].[taxon]  WITH CHECK ADD FOREIGN KEY([rankid])
REFERENCES [dbo].[rank] ([ID])
GO
USE [master]
GO
